@font-face{
	src: url('../fonts/SVN-Helvetica Neue.ttf');
	font-family: VN-Helvetica;
}
@font-face{
	src: url('../fonts/times.ttf');
	font-family: times;
}
@font-face{
	src: url('../fonts/SVN-Poppins-Regular.ttf');
	font-family:SVN-Poppins;
}
@font-face{
	src: url('../fonts/UTM Times.ttf');
	font-family: Times;
}
@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: Roboto;
}

@media screen and (min-width: 1400px){
	.slider-homepage{
		overflow: hidden;
	}
}

/* css 1366  */
@media screen and (max-width: 1400px) and (min-width: 1200px){
	.slider-homepage{
		overflow: hidden;
	}
	.project-element .content {
	    width: 23%;
	    margin-top: 120px;
	}
	.dland-left-element{
		padding: 35px 20px 30px 70px;
	}
	.list-im-dland {
	    padding-left: 60px;
	}
	.list-im-dland li{
		padding: 0;
	}
	.nav-tabs-news .nav-tabs{
		width: 30%;
	}
	.new-item .img{
		height: 250px;
	}
	.new-item .date-dervice .img{
		height: auto;
	}
	.new-item .date-dervice img{
		width: auto;
		height: auto;
	}
	.footer-1 .hotline-footer a{
		padding: 6px 6px 6px 60px;
	}
}
/* css 1366  */

/* css ipad pro  */
@media screen and (max-width: 1200px) and (min-width: 992px){
	.main-menu li{
		padding: 0 10px;
	}
	.slider-homepage .item .content{
		left: 15px;
	}
	.slider-homepage .item .content p{
		font-size: 90px;
		line-height: 90px;
	}
	.slider-homepage{
		height: 485px;
	}
	.slider-homepage .slick-dots{
		right: 15px;
		top: 40%;
	}
	.about-us-element{
		padding: 20px 0 20px 0;
	}
	.about-us-element .item .img{
		height: 530px;
	}
	.about-us-element .item .tab-us{
		width: 60%;
		right: 15px;
		padding: 15px;
		top: 4%;
	}
	.about-us-element .item .tab-us h2{
		margin: 0;
		font-size: 24px;
	}
	.project-element .content{
		width: 25%;
		margin-top: 75px;
	}
	.project-element .content h2{
		font-size: 24px;
	}
	.slider-video .item{
		height: 525px;
	}
	.dland-left-element{
		padding: 15px;
	}
	.title-img-left h2{
		font-size: 24px;
		left: 27%;
	}
	.section-im-dland{
		position: relative;
	}
	.list-im-dland {
	    padding-left: 0px;
	}
	.list-im-dland li{
		padding: 0;
	}
	.list-im-dland li .img {
	    width: 10%;
	}
	.list-im-dland li .text{
		width: 90%;
		padding-left: 15px;
	}
	.list-im-dland li .text h4{
		font-size: 18px;
		margin: 2px 0 1px 0;
		color: #CAA67E;
	}
	.list-im-dland li .text p{
		font-size: 14px;
	}
	.nav-tabs-news{
		margin-top: 10px;
	}
	.nav-tabs-news .nav-tabs{
		width: 30%;
	}
	.new-item .img{
		height: 250px;
	}
	.date-dervice .img{
		height: auto;
	}
	.date-dervice .img img{
		height: auto;
		width: auto;
	}
	.form-element h3{
		font-size: 24px;
	}
	.form-element{
		padding-top: 10px;
	}
	.footer-1 .hotline-footer a{
		padding: 3px 3px 3px 60px;
		font-size: 16px;
	}
	.footer-1 .hotline-footer a img{
		padding: 1px 10px;
	}
	
}
/* css ipad pro  */

/* ipad */
@media screen and (max-width: 991px) and (min-width: 576px){
	.main-menu li{
		padding: 0 10px;
	}
	.slider-homepage .item .content{
		left: 15px;
	}
	.slider-homepage .item .content p{
		font-size: 40px;
		line-height: 40px;
	}
	.slider-homepage{
	}
	.slider-homepage .slick-dots{
		right: 15px;
		top: 30%;
	}
	.about-us-element{
		padding: 15px 0 15px 0;
	}
	.about-us-element .item .img{
		width: 100%;
		padding: 0 15px;
	}
	.about-us-element .item .tab-us{
		width: 100%;
		padding: 15px;
		position: inherit;
		left:0;
		right:0;
		top:0;
	}
	.about-us-element .item .tab-us h2{
		margin: 0;
		font-size: 24px;
	}
	.project-element .content{
		width: 100%;
		margin-top: 25px;
		margin-bottom: 25px;
		position: inherit;
		left: 0;
		top:0;
		text-align: center;
	}
	.section-video{
		padding-top: 30px;
	}
	.section-img-bottom{
		display: none;
	}
	.project-element .content h2{
		font-size: 24px;
		margin: 0;
	}
	.project-element .content p{
		margin: 0;
	}
	.slider-video .item{
		height: 325px;
	}
	.dland-left-element, .dland-right-element{
		padding: 15px;
		width: 100%;
	}
	.section-news {
	    padding-top: 0;
	}
	.title-img-left h2{
		font-size: 24px;
		left: 27%;
	}
	.section-im-dland{
		position: relative;
	}
	.list-im-dland {
	    padding-left: 0px;
	}
	.list-im-dland li{
		padding: 0;
	}
	.list-im-dland li .img {
	    width: 10%;
	}
	.list-im-dland li .text{
		width: 90%;
		padding-left: 15px;
	}
	.list-im-dland li .text h4{
		font-size: 18px;
		margin: 2px 0 1px 0;
		color: #CAA67E;
	}
	.list-im-dland li .text p{
		font-size: 14px;
	}
	.nav-tabs-news{
		margin-top: 10px;
	}
	.nav-tabs-news .nav-tabs{
		width: 50%;
	}
	.new-item .img{
		height: 150px;
	}
	.date-dervice .img{
		height: auto;
	}
	.date-dervice .img img{
		height: auto;
		width: auto;
	}
	.form-element .text{
		width: 100%;
		text-align: center;
	}
	.contact-element{
		width: 100%;
		padding: 10px 0 0 0;
	}
	.form-element h3{
		font-size: 24px;
		margin: 0;
	}
	.form-element{
		padding-top: 10px;
	}
	.footer-1 .hotline-footer a{
		padding: 6px 5px 5px 50px;
		font-size: 12px;
	}
	.footer-1 .hotline-footer a img{
		padding: 1px 5px;
	}
	.slider-project{
		width: 100%;
	}
	.link-footer{
		padding-left: 0;
	}
}
@media screen and (min-width: 992px){
	.header-pc{
		display: block;
	}
	.header-mobile{
		display: none;
	}
}
@media screen and (max-width: 992px){
	.header-pc{
		display: none;
	}
	.header-mobile{
		display: block;
	}
	.icon-box-mb{
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #fff;
		background: #fff;
		padding: 5px 20px;
		border-top:1px solid #242335;
		left: 0;
	}
	.icon-mb{
		outline: none;
		cursor: pointer;
		width: 48px;
		height: 48px;
		border:1px solid #191724;
		border-radius: 50%;
		position: relative;
		background: #242335;

	}
	.icon-box-mb .backtotop{
		bottom: 0;
		margin-top: 0;
	}
	.icon-box-mb a{
		margin-top: 0;
	}
}

@media screen and (max-width: 576px){
	.slider-homepage .item .content{
		left: 15px;
	}
	.slider-homepage .item .content p{
		font-size: 30px;
		line-height: 30px;
	}
	.slider-homepage .slick-dots li{
		margin: 0;
	}
	.slider-homepage .slick-dots {
	    width: auto;
	    top: 35%;
	    right: 15px;
	}
	.slider-homepage .slick-dots li button:before, .slider-homepage .slick-dots li.slick-active button:before{
		font-size: 6px;
	}
	.slider-homepage .slick-dots li.slick-active button:before{
		background: #fff;
		border-radius: 50%;
		width: 10px;
	    height: 10px;
	    line-height: 11px;
	    left: 5px;
	}
	.slider-homepage .slick-dots li.slick-active button{
		background: transparent;
	}
	.slider-homepage{
    	overflow: hidden;
	}
	.about-us-element {
	    padding: 0 0 25px 0;
	    background: #242335;
	}
	.about-us-element .item .img {
	    width: 100%;
	    height: auto;
	}
	.about-us-element .item .tab-us {
	    width: 100%;
	    float: left;
	    position: inherit; 
	    right:auto;
	    left: auto;
	    padding: 15px;
	}
	.about-us-element .item .tab-us h2{
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 24px;
	}
	.slider-tab-us-mobi .item p{
		padding: 10px 0;
	}
	.slider-tab-us-mobi {
	    padding: 0 15px;
	}
	.about-us-element .item .tab-us p{
		margin-bottom: 0;
	}
	.slider-tab-us-mobi .item .text{
		text-align: justify;
	}
	.section-about-us:before{
		display: none;
	}
	.about-us-element .img{
		padding: 15px;
		position: relative;
		display: inline-block;
    	width: 100%;
	}
	.about-us-element .img img{
		float: right;
    	width: 85%;
	}
	.about-us-element .img .img-posi{
		width: auto !important;
	    height: auto;
	    top: 15px;
	    left: 15px;
	    position: absolute;
	    fill: grayscale(1);
	}
	.about-us-element .img:before{
		position: absolute;
		content: "";
	    width: 100%;
	    height: 100%;
	    background:linear-gradient(90deg, #24233594 54.3%, rgba(36, 35, 53, 0) 73.73%);
	}
	.about-us-element .btn-page, .project-element .btn-page {
	    text-align: center;
	    padding-top: 15px;
	}
	.slider-project{
		width: 100%;
		padding: 15px;
	}
	.slider-project .item{
		height: 457px;
	}
	.slider-project .slick-list{
		padding: 0 65px 0 0;
	}
	.slider-project .slick-prev, .slider-project .slick-next{
		display: none !important;
	}
	.title-img{
		padding: 0 15px;
		margin-top: 20px;
	}
	.title-img h2{
		font-size: 24px;
	}
	.project-element .description{
		font-family: SVN-Poppins;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #3C3C3C;
		text-align: justify;
		padding: 0 15px;
	}
	.slider-video .item{
	    width: 100%;
	    height: 175px;
	}
	.slider-video .slick-prev,.slider-video .slick-next{
		top: 50%;
	}
	.slider-video .slick-next{
		right: 0;
	}
	.dland-left-element, .dland-right-element{
		width: 100%;
		padding: 15px;
	}
	.list-im-dland{
		padding: 0;
	}
	.title-img-left {
	    text-align: center;
	}
	.title-img-left h2 {
	    font-size: 24px;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    margin: 0;
	    width: 100%;
	}
	.list-im-dland li{
		padding: 0;
		align-items: inherit;
	}
	.list-im-dland li .img {
	    width: 20%;
	}
	.list-im-dland li .text {
	    padding-left: 20px;
	    width: 80%;
	}
	.list-im-dland li .text h4{
		font-size: 16px;
		color: #CAA67E;
	}
	.list-im-dland li .img img{
		padding-top: 20px;
	}
	.dland-right-element{
		position: relative;
	}
	.dland-right-element:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 80%;
		top:0;
		left: 0;
		background: #12121b;
		z-index: -1;
	}
	.section-news {
	    padding-top: 0;
	}
	.nav-tabs-news .nav-tabs .nav-item .nav-link{
		font-size: 16px;
	}
	.nav-tabs-news .nav-tabs{
		width: 70%;
	}
	.nav-tabs-news .nav-tabs .active .nav-link:before{
		bottom: -16px;
	}
	.your-class .slick-list{
		padding: 0 55px 0 0 !important;
		margin: 0 !important;
	}
	.new-item .img{
		height: 188px;
	}
	.date-dervice .img{
		height: auto;
	}
	.date-dervice .img img{
		width: auto;
		height: auto;
	}
	.form-element{
		margin-bottom: -5px;
		padding: 15px;
		border-radius: 0;
	}
	.form-element .text{
		width: 100%;
	}
	.contact-element{
		width: 100%;
		padding: 0;
		margin-top: 15px;
	}
	.form-element h3{
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		margin: 0;
	}
	.footer-pc .container{
		display: inherit;
		padding-top: 50px;
	}
	.footer-1{
		width: 100%;
		text-align: left;
		padding: 0 15px;
	}
	.footer-2, .footer-3 {
	    width: 100%;
	    padding: 0 15px;
	}
	.footer-4, .footer-1 .hotline-footer, .link-footer{
		display: none;
	}
	.footer-3 ul li{
		width: 50%;
		float:left;
	}
	.footer h4{
		font-size: 18px;
	}
	.copyrighter p{
		font-size: 14px;
	}
	footer{
		padding-bottom: 58px;
	}
	.nav-tabs-news{
		margin-top: 0;
	}
	.footer-pc {
	    background-image: url(../img/53.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.about-us-element .item .tab-us:before{
		display: none;
	}
	.slider-video .slick-next img{
		padding: 12px 4px;
	}
	.slider-video .slick-prev img{
		padding: 12px 4px;
	}
}

.slider-project .item {
  position: relative;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
  text-align: center;
}
.slider-project .item:after {
	content: '';
	position: absolute;
	width: 1100%;
	height: 1100%;
	top: 0;
	right: -500%;
	background: rgba(255,255,255,.8);
	z-index: -1;
	transform: rotate(45deg);
	transform-origin: 48% 42%;
}